@using Gitec.GitecBulletin.Enums
@model Gitec.InfoDisplay.Models.InfoBoardItemImage

<div class="d-flex align-items-start">
    @if (Model.ImageSide == Side.Left)
    {
        <figure class="text-left me-3">
            <img src="@Model.ImageUrl" alt="@Model.ImageAlt" height="250" class="img-item"/>
            @if (!string.IsNullOrEmpty(Model.ImageCaption))
            {
                <figcaption class="text-muted">@Model.ImageCaption</figcaption>
            }
        </figure>
        <div>
            <h3>@Model.Title</h3>
            <p style="font-size: 18px; text-align: justify;">@Model.ImageStory</p>
        </div>
    }
    else
    {
        <div>
            <h3>@Model.Title</h3>
            <p style="font-size: 18px; text-align: justify;">@Model.ImageStory</p>
        </div>
        <figure class="text-left me-3">
            <img src="@Model.ImageUrl" alt="@Model.ImageAlt" height="250" class="img-item"/>
            @if (!string.IsNullOrEmpty(Model.ImageCaption))
            {
                <figcaption class="text-muted">@Model.ImageCaption</figcaption>
            }
        </figure>
    }
</div>
